@model Shopping_Web_thien.Models.Bill

@{
    ViewData["Title"] = "UpdateBill";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateBill</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientName" class="control-label"></label>
                <input asp-for="recipientName" class="form-control" />
                <span asp-validation-for="recipientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientAddress" class="control-label"></label>
                <input asp-for="recipientAddress" class="form-control" />
                <span asp-validation-for="recipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientPhone" class="control-label"></label>
                <input asp-for="recipientPhone" class="form-control" />
                <span asp-validation-for="recipientPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

