@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row" style="margin-top:100px">
	<div class="container">
		<h1>Thong tin ve cua hang</h1>

		<p>The AO's world-leading institutes drive development, innovation, and research, across the AO by delivering value-added products and services to the AO's clinical divisions, clinical unit, its global network of surgeons and operating room personnel, and to its partners. They produce new concepts for improved fracture care, deliver evidence-based decision making, guarantee rigorous concept and product approval, and ensure the timely and comprehensive dissemination of knowledge and expertise. Find out more about the AO Research Institute Davos (ARI), the AO Innovation Translation Center, the AO's clinical research activities, and the AO Education Institute (AO EI).</p>

	</div>
</div>