@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Section: Design Block -->
<div class="container" style="margin-top:100px">
	<section class=" text-center text-lg-start">
		<div class="card mb-3">
			<div class="row g-0 d-flex align-items-center">
				<div class="col-lg-4 d-none d-lg-flex">
					<img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
						 class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
				</div>
				<div class="col-lg-8">
					<div class="card-body py-5 px-md-5">

						<form method="post" asp-controller="Accounts" asp-action="Login">
							<!-- Email input -->
							<div class="form-outline mb-4">
								<input placeholder="Username" type="text" id="username" name="username" class="form-control" />

							</div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input placeholder="Password" type="password" id="password" name="password" class="form-control" />

							</div>

							<!-- 2 column grid layout for inline styling -->
							<div class="row mb-4">
								<div class="col">
									<button type="submit" class="btn btn-outline-success">Login</button>

								</div>
							</div>
							Or
							<!-- Submit button -->
							<a asp-controller="Accounts" asp-action="Register">Sing Up</a>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section: Design Block -->
</div>